.photo__like {
  object-fit: contain;
  width: 22px;
  height: 19px;
  align-self: center;
  background: url('../../../images/Group.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

.photo__like:hover {
  opacity: 0.5;
}

.photo__like:active {
  background: #000000;
}
