.profile__info {
  min-width: 336px;
  margin-right: 244px;
  display: grid;
  grid-template-columns: fit-content(294px) 24px;
  gap: 18px 16px;
}

@media screen and (max-width: 1067px) {
  .profile__info {
    margin: 0 100px 36px 0;
  }
}

@media screen and (max-width: 767px) {
  .profile__info {
    min-width: 282px;
    flex-direction: row;
    justify-content: center;
    grid-template-columns: fit-content(196px) 24px;
    gap: 10px 14px;
    margin: 0 0 36px 0;
  }
}
