.popup__botton-save {
  width: 358px;
  height: 50px;
  margin-bottom: 37px;
}

@media screen and (max-width: 767px) {
  .popup__botton-save {
    width: 238px;
    height: 46px;
    margin: 0 auto 25px;
  }
}

.popup__botton-save:hover {
  background: #000000;
  opacity: 0.8;
}
